body::-webkit-scrollbar {
  width: 0 !important;
}

.main-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  padding-top: 10px;

  margin-bottom: 150px;

  .head-space {
    width: 100vw;
    height: 15vh;
  }

  .input-form {
    width: 70vw;

    .icon-bar {
      padding-left: 0;
      margin-top: 5px;
      .btn-search {
        font-size: 1.5em;

        &:hover {
          cursor: pointer;
          opacity: 0.5;
        }
      }
    }
  }

  .img-space {
    visibility: hidden;
    position: absolute;
  }

  .canvas-form {
    max-width: 70vw;
  }

  .title {
    font-size: 4.15em;
    color: #a4b0be;
    margin-bottom: 50px;
    font-family: "Kreon", serif;

    animation-duration: 1.75s;
    animation-delay: 0.75s;
  }

  .convert-btn {
    color: #a4b0be;
    &:hover {
      color: #dfe4ea;
    }
  }

  .color-block {
    position: absolute;
    min-width: 200px;
    min-height: 200px;
    border-radius: 5px;
    visibility: hidden;

    .card {
      margin-top: 50px;
    }

    .card-body {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
